<link href="css/source_sans_pro.css" rel='stylesheet' type='text/css'>
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'>
<link href="css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<link href="css/custom.css" rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="#">
<font face="Source Sans Pro">

<div class="container-fluid" id="theDiv" onkeypress="checkEnter(event)">
  <div class="col-xs-9">
    <input class="form-control" id="theTextField" ng-model="formData.text" placeholder="Things to do">
  </div>
  <button class="btn btn-primary" id="submitButton" ng-click="createTodo()"> Submit </button>
  <h1 id="mainHeader">
    <b>
      ToDoList by
      <a href="https://github.com/Rickydam"> RickyDam
        <i class="fa fa-external-link"></i>
      </a>
    </b>
  </h1>
  <ul id="listItems">
    <div ng-repeat="item in items" id="itemLine">
      <button class="btn btn-danger" ng-click="deleteTodo(item._id)" id="deleteButton"> X </button>
      <li id="theItem"> • {{item.text}} </li>
    </div>
  </ul>
</div>
